.submit-area{
    margin-top: 30px;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    /* border: 0.5px solid lightgray; */
    border-radius: 20px;
}

#login-area{
    margin-top: 100px;
}
.btn-success{
    padding: 5px 30px;
}

#transaction{
    display: none;
    margin-top: 100px;
}
.status{
    margin: 20px 20px;
    padding: 10px 20px;
    border-radius: 20px;  
}
.deposit{
    background-color: lightcoral;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: lightgreen;
}